/* ==========================================================================
	Main Styles - Desktop
	
	Table of Contents
	
	1.  Main Containers
	2.  Header
	3.  Navigation
	4.  Homepage
	5.  Footer
	6.  Person Page
	7.  People Archive
	8.  Books
	9.  Articles/Posts
	10. Other
	
	========================================================================== */

/*	1. Main Containers
/*--------------------------------------*/

body {
	background-color: white;
}
#container {
	width: 100%;
	overflow: auto;
	zoom: 1;
}
.content, header {
	width: $site-width;
	margin: 0 auto;
	@extend %clearfix;
}
#hero {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 400px;
	float: left;
	clear: both;
	margin: 0 0 13px 0;
}
.col {
	width: 640px;
	float: left;
}
.col + .col {
	width: 280px;
	margin: 0px 0 30px 20px;
}
.page-template-page-full .col {
	width: 100%;
}
.mobile { display: none; }

/*	2. Header
/*--------------------------------------*/

header {
	padding: 35px 0 0 0;
	
	&.top {
        margin: 0px;
        width: auto;
		.dept-logo { 
			width: 600px;
			display: inline-block;
			margin: 0;
			text-align: center;
			
			// For retina, upload image 2x larger and resize here
			img {
                width: 707px;
                height: 89px;
			}
		}
		h1, h2 { 
			width: 600px;
            height: 90px;
			display: inline-block;
			margin: 0;
            overflow: hidden;
			text-align: left;
            padding:0px;
		}
		h1.logo-text {
		    font-weight: 600;
		    text-transform: uppercase;
		    margin-top: 15px;
		    font-size: 3.2em;
		    color: $text-color;
		}
        .nav-search{
            background: $primary; 
            min-height: 26px;
            padding: 10px 0px;
            margin: 20px 0px -15px 0px;
            position: relative;
            bottom: -20px;
        }
        .content {
            margin:0px auto;
        }
	}
    .icon-menu {
        position: relative;
        max-width: 200px;
        float: right;
        text-align: center;
        line-height: 15px;
        margin-top: 4px;
        z-index: 100;
        p {margin: 0px; padding: 0px; width: 100%; text-transform: uppercase; font-size: 12px;}
        .icon {
            float: left;
            display: inline-block;
            padding: 3px;
            a, a:link {color:$text-color; display: inline-block;}
            a:hover {
                color: $link-color;
            }
        }
        .give-back {
            text-transform: uppercase;
            padding: 3px;
            width: 33px;
            text-align: center;
            float: right;font-size: 12px;
            margin-top: 0px;
            
            a, a:link {color:$text-color;}
            a:hover {
                color: $link-color;
                -webkit-filter: invert(0);
                filter: invert(0);
            }

            .give {
                min-width: 90px;
                height: 56px;
            }            
        }
    }
	.logos {
		float: left;
	}
	nav {
		clear: both;
		float: left;
	}
	nav ul {
		width: 760px;
	}
	.search {
		float: right;
		clear: right;
		//margin-top: 30px;
	}
	.give-back {
		width: 130px;
		text-align: center;
		float: right;
		margin-top: 20px;

		.btn.give {
			background-image: url('../images/heart-icon.png');
			background-position: 11px center;
			background-repeat: no-repeat;
			padding-left: 27px!important;
			margin: 0 auto;
			text-align: left;
			min-width: 90px;
		}

		span.support {
			font-size: .8em;
			display: block;
		}
	}
	.university-logo {
		float: left;
		margin-top: 7px;
		
		// For retina, upload image 2x larger and resize here
		width: 140px;
		height: 45px;
	}
}
.breadcrumbs {
	width: 100%;
	float: left;
	clear: both;
	color: $secondary-text-color;
	font-size: .8em;
	padding: 8px 0;
	margin-bottom: 40px;
    margin-top: 50px;
    border-bottom: 1px #eee solid;
	
	img {
		margin: 0;
		padding: 0;
	}
	ul {
		margin: 0;
		padding: 0;
		clear: both;
		float: left;
	}
	li {
		float: left;
		display: inline-block;
		padding: 0 0 0px 10px;
		margin: 0;
	}
	li + li {
		margin: 0 0 0 5px;
		background: url('../images/arrow.png') no-repeat left center;
	}
	
	a {
		font-weight: 600;
		color: $link-color;
		text-decoration: underline;
	}
}

/*	3. Navigation
/*--------------------------------------*/

header, footer {
	nav.desktop ul, nav ul {
		padding: 0;
		margin: 0;
		float: left;
	}
	nav.desktop ul li, nav ul li {
		display: inline-block;
		margin: 0 10px 0 0;
	}
}
header nav.desktop ul li {
	position: relative;
}

/* Drop Down */
header nav.desktop {
	ul li ul {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		padding: 0 10px;
		width: 170px;
		top: 20px;
		border-top: 4px solid $primary-light;
		margin-top: 5px;
		background-color: $primary;
		z-index: 10000;
		@include vendor-prefix('box-shadow', '0px 5px 5px 0 rgba(0,0,0,.14)');
		@include transition(all 0.24s ease-in-out);
	}
	ul li ul li, ul li ul li a { 
		display: block;
		margin: 0;
	}
	ul li ul li a {
		line-height: 1em;
		padding: 6px 0;
	}
	ul li:hover ul, .sub-menu.open {
		display: block;
		opacity: 1;
		visibility: visible;
	}
	ul li.menu-item-has-children a {
		&:after {
			font-family: "Font Awesome 5 Free";
			content: "\f0d7";
			color: rgba(white, .6);
			padding-left: 3px;
		}		
	}
	ul li.menu-item-has-children ul.sub-menu a {
		padding-right: 0;
		
		&:after {
			content: none;
		}
	}
	a {
		font-weight: 600;
		text-transform: uppercase;
		font-size: .85em;
		letter-spacing: 1px;
	}
	a, a:link {
		color: $white;
		@include transition(all 0.24s ease-in-out);
	}
	a:hover, a:focus, a:active {
		color: rgba(white, .6);
	}
}

/* Side Menu */
.col.side {
	width: 220px;
	margin-left: 80px;

	.content {
		width: 220px;
	}
	li {
		list-style: none;
		margin: 0 0 5px 0;
		line-height: 1.2em;
	}
	ol, ul  {
		margin-bottom: 25px;
	}
	nav.page-nav ul {
		padding: 0;
		margin: 0;
	}
	.widget_recent_entries li {
		margin: 0 0 10px 0;
		padding: 0;
		
		a {
			font-family: $proxima;
			font-size: .9em;
		}
	}
	.btn {
		margin-bottom: 40px;
	}
	.sub-menu { 
		display: none;
	}
	.current_page_item .sub-menu, 
	.current_page_parent .sub-menu {
		display: block;
		margin: 5px 0 0 30px;
	}
	.sub-menu li {
		list-style: disc;
	}	
}
.col-nav {
	width: 220px;

	li {
		list-style: none;
		margin-left: 0;
		line-height: 1.5em;
	}
	ul + h3 {
		margin-top: 40px;
	}
}

/*	4. Homepage
/*--------------------------------------*/

.home #hero, .page-template-page-home #hero {
	height: $home-hero-height;
	margin: 0 0 40px 0;
	
	.content {
		width: 100%;
		height: $home-hero-height;
		position: relative;
		
		&.text {
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
			text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
		}
	}
	.hero-description {
		color: $white;
		text-align: center;
		width: 100%;
		margin: 0 auto;
		padding: 0 0 60px 0;
		position: absolute;
		bottom: 0;
		
		.content {
			width: $site-width;
			position: static;
			height: auto;
			box-shadow: none;
			background: none;
		}
		h2 {
			font-size: 4em;
			width: $site-width;
			margin: 0 auto;
			font-weight: 600;
		}
		p {
			font-size: 1.2em;
			width: 700px;
			margin: 0 auto;
			font-weight: normal;
		}
		.outline {
			margin-top: 35px;
			min-width: 180px;
		}
		.left {
			text-align: left;
			
			p {
				margin: 0;
			}
		}
		.right {
			text-align: right;
			
			p {
				margin: 0;
				float: right;
				clear: both;
			}
			button {
				float: right;
				clear: both;
			}
		}
	}
	.hero-description.middle {
		bottom: 12%;
	}
}
.home .col, .page-template-page-home .col {
    width: 460px;
	float: left;
	
	ul, ol {
		margin-top: 0;
		
		a {
			text-decoration: none;
		}
	}
	li {
		list-style: none;
        padding: 0px;
		margin: 0 0 10px 0;
		@extend %clearfix;
	}
	p, span.description {
		padding: 0;
		margin: 0 0 20px 0;
		font-weight: normal;
		color: $text-color;
		display: block;
		font-size: .93em;
		line-height: 1.6em;
	}
	span.description {
		margin-bottom: 10px;
	}
	.categories {
		display: block;
		line-height: 1em;
	}
	&.one {
		width: 220px;
		padding: 0;
	}
	&.two {
		width: 460px;
	}
	&.three {
		width: 700px;
	}
	&.page-col {
		p {
			font-size: 1em;
		}
		&.one p {
			font-size: .93em;
		}
	}
	&.news-col {
		li {
			padding: 0;
			clear: both;
		
		.item {
			float: right;
			width: 320px;
		}
		.item p {
			color: $text-color;
			font-weight: normal;
		}
		}
		.category a {
			font-size: .70em;
			color: $secondary-text-color;
			text-transform: uppercase;
			font-weight: normal;
			letter-spacing: 1px;
			display: inline-block;
		}
		img {
			margin: 3px 0 15px 0;
		width: 110px;
		height: 70px;
		}
		&.images + .btn {
			margin-left: 130px;
		}
		&.one {
			ol.categories {
				
			}
			.item {
				width: auto;
			}
			p {
				//margin-bottom: 0;
			}
		}
		&.two {
			.item {
				float: right;
				width: 330px;
			}
		}
		&.three {
			.item {
				float: right;
				width: 570px;
			}
		}
	}
	&.events-col {
		.duration {
			color: $text-color;
			line-height: 1.5em;
			font-size: .8em;
		}
		.duration span {
			display: inline; 
			font-weight: 600;
			padding: 0;
			margin: 0;
		}
		li {
			margin-bottom: 20px;
		}
		.category {			
			a {
				font-size: .70em;
				color: $secondary-text-color;
				text-transform: uppercase;
				font-weight: normal;
				letter-spacing: 1px;
				display: inline-block;
			}
			& + .category {
				&:before {
					content: ",";
					margin: 0 5px 0 0;
				}
			}
		}
		&.one {
			ol.categories {
				
			}
		}
		&.two {
			.item {
				float: right;
				width: 330px;
				margin-top: 0;
			}
			img {
				margin-top: 3px;
			}
			.btn {
				margin-left: 130px;
			}
		}
	}
}
.home .col + .col {
	margin: 0 0 0 20px;
	background-color: white;
	
	li {
		padding: 0;
	}
}
.home {
    .selection-title {
        background: #0a4f7c;
        clear: both;
        //text-align: center;
        text-transform: uppercase;
        overflow: hidden;
        h1, h2, h3 {
            color: #fff;
            font-weight: normal;
            padding-bottom: 15px;
            width: 65%;
            float: left;
        }
        form.search-form {
            width: 25%;
            float: right;
            text-align: center;
            background: #145F91;
            padding: 17px 10px;
            input[type="search"] {
                width: 95%;           
                font-size: .85em;
            }
            .search-btn {            
                right: 20px;
                font-size: 1.2em;
            }
        }
        

    }
    .front-menu {
        display: block;
        
        ul {
            width: 100%;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
            li{
                display: block;
                height:auto !important;
            }
        }
    }
    
    /*----- FRONT IMAGE MENUS -----*/
    #slider {
	width: 100%;
    height: 680px !important;
	float: left;
	clear: both;
	@include vendor-prefix('box-shadow', 'none');
	margin: 0;
    
    .icon {
        text-align: center;
        padding-top: 120px;
            img { width: 200px;}
    }
    .wp, .wp .front-menu {
        background: #003358;        
        
        .slider-content {
                background: rgba(0, 51, 88, 0.8);
        }
    }
    .uwc, .uwc .front-menu  {
        background: #0a4f7c;
        
        .slider-content {
                background: rgba(10, 79, 124, 0.8);
        }
    }
    .esl, .esl .front-menu  {
        background: #3281bc;
        
        .slider-content {
                background: rgba(50, 129, 188, 0.8);
        }
        li div { 
            
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            filter: grayscale(100%);
            opacity: 0.4;
            filter: alpha(opacity=10);
        }
    }
	
    
    
figure{ background: #0071BC; width:100%; height:auto; overflow:hidden; position:relative; margin-bottom: 3%;}
figure img{ width:100%; height:auto; border:none;}
figure a:hover img{
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-o-filter: grayscale(100%);
-ms-filter: grayscale(100%);
filter: grayscale(100%);
opacity: 0.4;
filter: alpha(opacity=10);
}
	li {
        height:680px !important;
        width:33.33%;
        min-width:313.33px;
		margin: 0 0 0 0;
		list-style: none;
		float: left;
        div.b-img {
            width: 100%;
            height: 440px;
            background-position: center bottom;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            position: relative;
            
            -webkit-filter: grayscale(10%);
            -moz-filter: grayscale(10%);
            -o-filter: grayscale(10%);
            -ms-filter: grayscale(10%);
            filter: grayscale(10%);
            opacity: 0.65;
            filter: alpha(opacity=65);
        }
        div.b-img:hover {       
            
            -webkit-filter: grayscale(0%);
            -moz-filter: grayscale(0%);
            -o-filter: grayscale(0%);
            -ms-filter: grayscale(0%);
            filter: grayscale(10%);
            opacity: 0.90;
            filter: alpha(opacity=90);
        
        }
        .front-menu {
            width: 100%;
            height: 150px;
            text-align: center;
            clear: both;
            overflow: hidden;
            padding: 40px 0px;
            
            li {
                width: 100% !important;
                height: auto !important;
                margin: 0px auto;
                
                a, a:link {
                    color: #c9e7ff;
                }
            }
        }
	}
	.content {
		margin: 0 auto;	
	}
	.slider-content {
		color: $text-color!important;
		font-weight: normal;
        background: none;
		width: 100%;
		padding: 0px;
		height: 100px;
		position: absolute;
		bottom: 0px;
        left:0px;
        text-align: center;
        border:none;
         h2 {
             color: $white;
             text-transform: uppercase;
             margin:10px auto;
             line-height: 26px;
             font-size: 1.8em;
             width: 300px;
         }
	
		p {
			font-size: 12px;
			line-height: 18px;
            padding: 0px 20px;
		}
	}
}
}



/*	5. Footer
/*--------------------------------------*/

footer {
	background-color: $primary;
	clear: both;
	margin-top: 60px;
	float: left;
	width: 100%;
	padding: 35px 0 40px 0;
	color: $white;
	font-size: 1em;
	line-height: 1.5em;
	
	/* Footer Nav */
	nav {
		a, a:link, a:visited {
			color: $white;
			font-weight: 600;
			text-transform: uppercase;
			font-size: .8em;
		}
		ul.footer-nav {
			clear: left;
			float: left;
		}
		ul.social-links {
			clear: right;
			float: right;
		}
		.icon {
			margin: 0 0 0 10px;
			font-size: 1.7em;
		}
	}
	// Hiding and only showing on mobile
	.search-form {
		display: none;
	}
	.copyright {
		padding-top: 50px;
		font-size: .8em;
		
		.university-logo img {
			float: left;
			width: 100px;
			height: 32px;
		}
		p {
			float: left;
			margin: 0 0 0 20px;
		}
		span {
			margin: 0 5px;
		}
		a, a:link, a:visited {
			color: $white;
			text-transform: none;
			text-decoration: underline;
		}
	}
}

/*	6. Person Page
/*--------------------------------------*/

.single-people {
	.details {
		span {
			display: inline;
		}
		span + span {
			margin-left: 20px;
		}
		p {
			margin-top: 0;
		}
	}
	.col + .col {
		margin-top: 0;
	}
	article header {
		padding: 0;
		
		img {
			display: none;
		}
	}
	.bio {
		border-bottom: 2px solid $border-color;
		margin-bottom: 20px;
	}
	.col-nav ul {
		margin-bottom: 40px;
	}
	.photo {
		width: 270px;
		height: 353px;
		margin-bottom: 10px;
        border: 5px solid white;
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,.33);
	}
	.circle {
		// To make circle, radius should be at least half the width and height
		border-radius: 140px;
	}
	.rounded {
		// Make radius 1/4 the width and height
		border-radius: 70px;
	}
}
.link, .download {
	.fas {
		font-size: .8em;
		margin-right: 5px;
	}
}

/*	7. People Archive
/*--------------------------------------*/

.term-staff, .term-tas-and-tacs {
    .person-item {
        height:175px !important;
    }
}
/* Filters */
.page-template-page-people-listing .main header, .tax-people_cat .main header {
	text-align: center;
	clear: both;
	padding: 0;
}
.filter {
	clear: both;
	float: left;
	margin-bottom: 20px;
	width: 100%;

	ul {
		padding: 0;
	}
	li {
		list-style: none;
		display: inline-block;
		margin: 0 5px;
	}
}
.button-group {
	width: 100%;
	float: left;
	
	button {
		margin-right: 5px;
		min-width: 124px;
		letter-spacing: 0px;
		
		& + button {
			margin-left: 5px;
		}
	}
	button.all {
		min-width: 100px;
		margin-right: 10px;
	}
}
.dropdown-filter {
	display: none;
}

/* People List */
.people-list {
	margin-top: 40px;
	padding: 0 9px;
	clear: both;

	ul {
		margin: 30px 0;
		padding: 0;
	}
	li {
		list-style: none;
	}
	.person-item {
		display: block;
		float: left;
		padding: 15px 10px;
		margin: 0px;
		width: 210px;
		height: 400px;
		text-align: center;
		line-height: 1.3em;
		@include transition(background-color 0.24s ease-in-out);
	
		a {
			display: block;
		}
		&.hover {
			&:active, 
			&:hover, 
			&:focus {
				background-color: $bg-light-color;
                .name {
				color: $link-color;
			}
			}
			
		}
		.photo {
			border: 5px solid white;
			width: 195px;
			height: 255px;
            box-shadow: 0px 0px 4px 0px rgba(0,0,0,.33);
		}
		.circle {
			// To make circle, radius should be at least half the width and height with border (ie. 100px + 7px border = 107px)
			border-radius: 60px;	
		}
		.rounded {
			// Make radius 1/4 the width and height
			border-radius: 25px;
		}
        dl {margin: 1em 0; }
		dd {
			margin: 0;
			line-height: 1.6em;
		}
		.name {
			text-transform: uppercase;
			color: $text-color;
			letter-spacing: 1px;
		}
		.interest {
			font-size: .85em;
			color: $text-color;
			line-height: 1em;
		}
		.position {
			color: $secondary-text-color;
			font-style: italic;
			margin-bottom: 10px;
		}
		.email, .office, .office-hours, .phone {
			font-size: .8em;
			color: $text-color;
		}
		.email a {
			font-size: 1em;
			display: inline-block;
		}
	}
    .office {
        color:$text-color;
    }
}

/* Staff */
.people-list .staff {
	li:hover {
		background: none;
	}
	.name {
		color: $text-color;
	}
	.position {
		margin-top: 10px;
	}
}

/*	8. Books
/*--------------------------------------*/

/* General Styles */
.cover {
	@include vendor-prefix('box-shadow', '0 0 10px 0 rgba(0,0,0,.14)');
	border: 3px solid $white;
}
.custom-cover {
	background-color: #b4b4b4;
	margin: 0 auto 0 auto;
	
	 .title {
		color: $white;
		font-weight: 600;
		text-align: center;
		display: block;
	}
}
.publisher {
	display: block;
}
.book-list {
	.title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	dd.publisher {
		font-size: 12px;
		line-height: 12px;
		margin-bottom: 5px;
	}
	dd.author a {
		display: block;
		font-size: .8em;
		line-height: 16px;
	}
}

/* People Page */
.single-people .book-list {
	float: left;
	
	img, .custom-cover {
		float: left;
	}
	.custom-cover {
		width: 50px;
		height: 60px;
		padding: 20px 5px 10px 5px;
		
		.title {
			font-size: .42em;
			line-height: 1em;
		}
	}
	li {
		float: left;
		margin: 0 0 20px 0;
		list-style: none;
		display: inline-block;
		width: 320px;
	}
	dl {
		margin-left: 15px;
		float: left;
		clear: none;
		width: 225px;
	}
	dt.title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	dd {
		margin-bottom: 0;
	}
	dd.publisher {
		font-size: 12px;
		line-height: 12px;
		margin: 10px 0;
	}
	dd.author a {
		display: block;
		font-size: .8em;
		line-height: 16px;
	}
	dd.subtitle {
		font-style: italic;
		line-height: .8em;
	}
}

/* Book Page */
.single-books {
	.publisher {
		display: block;
		font-size: .8em;
		font-style: italic;
	}
	.author {
		margin-top: 20px;
		display: block;
	}
	.author p {
		display: inline;
	}
	.author-name + .author-name {
		&:before {
			content: ",";
			margin: 0 5px 0 -3px;
		}	
	}
	.custom-cover {
		width: 244px;
		height: 313px;
		line-height: 24px;
		padding: 60px 15px 10px 15px;
		
		.title {
			font-size: 24px;
		}
	}
	.content header {
		width: 100%;
		
		.cover {
			display: none;
		}
	}
}

/* Book Archive */
.post-type-archive-books {
	h1 {
		text-align: center;
	}
	.book-list {
		margin-top: 40px;
		clear: both;
		
		ul {
			padding: 0;
		}
		li {
			display: inline-block;
			padding: 0;
			margin: 5px 21px;
			width: 190px;
			height: 280px;
			text-align: center;
			vertical-align: top;
			@extend %clearfix;
		}
		.custom-cover {
			width: 91px;
			height: 127px;
			line-height: 9px;
			padding: 20px 5px 10px 5px;
			margin-bottom: 12px;
			
			.title {
				font-size: 9px;
			}
		}
		dt.title {
			font-size: 1em;
			line-height: 1em;
			margin: 5px 0;
		}
		dd.publisher {
			font-size: .8em;
			line-height: .8em;
			margin-bottom: 5px;
		}
		dd.author a {
			display: block;
			font-size: .8em;
			line-height: 1.14em;
		}
		a {
			text-decoration: none;
		}
	}
}

/*	9. Articles/Posts
/*--------------------------------------*/

.category, .search-results, .archive {
	article {
		padding-bottom: 40px;
	}
	article + article {
		border-top: 2px solid $border-color;
	}
}
.publish-date {
	margin-top: 0;
	margin-bottom: 20px;
	display: block;
}

/*	10. Other
/*--------------------------------------*/

.pagination li {
	display: inline-block;
}
.pagination {
	text-align: center;
	margin-top: 40px;
}
.instructors {
	display: block;
	margin-bottom: -20px;
}
figure {
	margin-left: 0;
	margin-right: 0;
}
.content-subtitle {
	font-size: 1.4em;
	font-weight: 500;
	line-height: 1.6em;
	display: block;
}
.notice, .gform_confirmation_wrapper {
	width: 100%;
	margin: 2em 0;
	background: $bg-light-color;
	border-top: 10px solid $primary;
	padding: 10px 0;
}
.notice p, .notice h3 {
	padding: 0 25px;
}
.gform_confirmation_wrapper {
	padding: 10px 0 40px 0;
	
	.gform_confirmation_message {
		padding-left: 25px;
		padding-right: 25px;
	}
}


/* Courses */
ul.course-list {
	li {
		list-style: none;
		margin-left: 0;
		padding: 0;
	}
	h3 {
		font-size: 1.75em;
		line-height: 1.2em;
	}
}

/* Tables */
td, th {
	padding: 5px;
} 
th {
	background-color: $primary-light;
}
tr:nth-of-type(odd) {
	background: $bg-light-color;
}
tr:hover td {
	background-color: $bg-dark-color;
}
td {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: $border-color;
}

/* FAQ/Accordion */
h5.topic {
	cursor: pointer;
	font-size: 1.2em;
	padding: 10px 0 10px 15px;
	margin: 0;
	
	button {
		background: none;
		color: $link-color!important;
		padding: 0;
		margin-bottom: auto;
		letter-spacing: 0;
		line-height: 1.3em;
		text-align: left;
		border-radius: 0;
		@include transition(all 0.24s ease-in-out);
	
		&:hover, &:focus {
			background: none;
			color: $link-hover-color!important;
		}
		&:active {
			top: 0;
		}
		.fas {
			position: absolute;
            top: 2px;
            left: -15px;
			@include transition(all 0.24s ease-in-out);
		}
		&[aria-expanded=true] .fas {
			transform: rotate(90deg);
		}
	}
}
div.response + h5.faq {
	border-top: 1px solid $border-color;
}
div.response {
	padding-left: 20px;
	
	p {
		margin: 0 0 1.5em 0;
	}
	
	// This is the opened state
	&.animated-expandmore__to_expand {
		display: block;
		overflow: hidden;
		opacity: 1;
		transition: visibility 0s ease, max-height .8s ease, opacity 1s ease ;
		max-height: 100em;
		visibility: visible;
		transition-delay: 0s;
	}
	
	// This is the hidden state
	&[data-hidden=true].animated-expandmore__to_expand {
		display: block;
		max-height: 0;
		opacity: 0;
		visibility: hidden;
		transition-delay: 1s, 0s, 0s;
	}
}

// Accordion style
h5.accordion {
	padding: 10px 10px 10px 30px;
	margin: 0;
	background: $bg-light-color;
	border: 1px solid $border-color;
	@include transition(all 0.24s ease-in-out);
	
	&:hover {
		background: $bg-dark-color;
	}
	button {
		background: none;
		color: $link-color!important;
		padding: 0;
		margin-bottom: auto;
		letter-spacing: 0;
		line-height: 1.3em;
		text-align: left;
		@include transition(all 0.24s ease-in-out);
	
		&:hover, &:focus {
			background: none;
			color: $link-hover-color!important;
		}
		&:active {
			top: 0;
		}
		.fas {
			font-size: .8em;
            left: -20px;
            top: 4px;
		}
		&[aria-expanded=true] .fas {
			transform: rotate(135deg);
		}
	}
}
div.response.accordion {
	border: 1px solid $border-color;
	border-top: none;
	padding: 0;
	margin-top: -2px;
	
	& > * {
		margin: 1.5em 20px;
	}
	& + h5.accordion {
		border-top: none;
	}
	&[data-hidden=true] {
		padding: 0;
	}
}

/* Images/Galleries/Fancybox */
article img {
	max-width: 100%;
	height: auto;
}
img.alignleft, figure.alignleft { 
	float: left;
	margin: 0px 15px 15px 0;
}
img.alignright, figure.alignright { 
	float: right;
	margin: 0px 0 15px 15px;
}
img.aligncenter, figure.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.gallery {
	.gallery-item {
		display: inline-block;
		vertical-align: top
	}
	.gallery-item + .gallery-item {
		margin-left: 10px;
	}
	.gallery-caption {
		max-width: 150px; 
		line-height: 16px; 
		font-size: 12px; 
		font-style: italic;
	}
	.gallery-icon {
		min-height: 160px;
	}
}
.fancybox-container .fancybox-toolbar {
	top: 60px;
}

/*	Color Palette
/*--------------------------------------*/

.color-block {
	width: 103px;
	height: 103px;
	float: left;
	text-align: center;
	line-height: 7em;
	margin: 0 1px;
}
.light-primary {
	background: $primary-light;
}
.primary {
	background: $primary;
}
.dark-primary {
	background: $primary-dark;
}
.light-secondary {
	background: $secondary-light;
}
.secondary {
	background: $secondary;
}
.dark-secondary {
	background: $secondary-dark;
}
.light {
	color: $white;
}
/***** SECTION NAV  *****/

// *********************
// COLOR GRADIENT
// Remove this before making site live
// *********************/

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#003059+0,003059+49,00a2e3+50,00a2e3+100 */
.section-nav {
    clear: both;
    height: auto;
    min-height: 56px;
    position: relative;
    left: 0;
    right:0;
    bottom: -32px;
    z-index: 1000;
    background: #003059; /* Old browsers */
    background: -moz-linear-gradient(left,  #003059 0%, #003059 49%, #00a2e3 50%, #00a2e3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #003059 0%,#003059 49%,#00a2e3 50%,#00a2e3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #003059 0%,#003059 49%,#00a2e3 50%,#00a2e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003059', endColorstr='#00a2e3',GradientType=1 ); /* IE6-9 */
    
    .content {position: absolute; left: 0; right: 0;}
    
    .select-section {
        //width: 33.33%;
        float: left;
        min-height: 56px;
        text-align: center;        
    }
    .active {
        min-height: 72px;    
        H3 {
            margin:20px auto;                
            a {
                color:$white;
            }
        }
    }
    .wp-btn {
        background: #003059;
    }
    .uwc-btn {
        background: #004e7e;
    }
    .esl-btn {
       // background: #00a2e3;
    }    
    H3 {        
        font-size: 18px;
        text-transform: uppercase;
        margin:10px auto;
        width: 50%;
        line-height: 18px;
        a, a:link {
            color:#a5a5a5;
            @include transition(all 0.24s ease-in-out);
        }
        
    }

}
// home page UWC Make An Appointment area
.page-template-page-home .col img.bookit-icon {
    width: 70px !important;
    height: 65px !important;
    margin-right: 15px;
    margin-bottom: 10px !important;
    float: left;
}
.bookit.btn {
    margin-top: 20px;
}

.appt-col.side {
    p {
        margin-top: 0px;
        }
    h4 {margin-bottom: 5px; }
    line-height: 1.6em;
    .bookit-icon {
        float: left;
        width: 70px !important;
        height: 65px !important;
        margin-right: 15px;
        margin-bottom: 10px }
    .bookit.btn {
        margin-top: 20px;
        margin-bottom: 10px;
    
    }
}

/*    S E C T I O N   M E N U
/*--------------------------------------*/

.section-nav {
    position: relative;
	padding: 0;
    clear: both;
    height: auto;
    min-height: 56px;    
	*zoom: 1;
    left: 0;
    right:0;
    bottom: -32px;
    z-index: 1000;
    background: #003059; /* Old browsers */
    background: -moz-linear-gradient(left,  #003059 0%, #003059 49%, #00a2e3 50%, #00a2e3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #003059 0%,#003059 49%,#00a2e3 50%,#00a2e3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #003059 0%,#003059 49%,#00a2e3 50%,#00a2e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003059', endColorstr='#00a2e3',GradientType=1 ); /* IE6-9 */
    
   ul#nav-slides {
	   margin-top: 0;
       
       li {
           position: relative;
           z-index: 5;
           width: 33.33%;
           float: left;
           //height: 56px;
           text-align: center;
           list-style: none;
           padding: 0px;
           margin: 0px;
          // overflow: hidden;
       }
       li:hover {
       
           .select-section {
            height: 72px !important; 
            overflow: hidden;
           // @include blend-filter(red, normal, 1.0, 100, 100); 
        }
           H3 {
                margin:20px auto !important;
                color:$white;
                a, a:link {
                    color:$white;
                }
            }
            
            .icon{
                margin: 10px 40px;
            }
       }
       
       .slider-content {
           position: absolute;
           z-index: 10;
           top:0;
           left: 0;
           right: 0;
           bottom: 0;
           //opacity: 0.5;
       
       
       }
    
        .select-section {
            width: 100%;
            float: left;
            min-height: 56px;
            text-align: center;
            padding: 0px;
            //overflow: hidden;           
            
            margin: 0 0 0 0;
            list-style: none;
            float: left;
            background-position: center center !important;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            width: 100%;
            position: relative;
            
            .content {
                width: 100%;
                height: 100%;
                overflow:hidden; 
            }
        }
        .wp-btn, .wp {
            background: #003059;            
            div {
               // @include blend-filter(#003059, multiple, 0.5, 0, 0);
                background-color: rgba(0, 48, 89, 0.7);
            }

        }
        .uwc-btn, .uwc {
            background: #004e7e;
            div {
                //@include blend-filter(#004e7e, multiple, 0.5, 0, 0);
                background-color: rgba(0, 78, 126, 0.7);

            }
        }
        .esl-btn, .esl {
            background: #00a2e3;
            
            div {
                background-color: rgba(0, 162, 227, 0.7);

              //  @include blend-filter(#00a2e3, multiple, 0.5, 0, 0);
            }
        }    
        H3 {   
            position: relative;
            z-index: 100;
            font-size: 18px;
            text-transform: uppercase;
            margin:10px auto;
            width: 65%;
            line-height: 18px;            
            color:$white;
            text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
            opacity: 0.7;
            border: none;
            a, a:link {
                color:#a5a5a5;
                @include transition(all 0.24s ease-in-out);
            }

        }       
        .icon {
            position: absolute;
            z-index: 0;
            top: 0;
            margin: 0px 40px;
            height: 56px;
            overflow: hidden;
            opacity: 0.3;
            background: transparent !important;
        }
        .active {
            height: 72px !important; 
            overflow: hidden;
            //opacity: 1;
           // @include blend-filter(red, normal, 1.0, 100, 100);
            H3 {
                margin:20px auto !important;
                color:$white;
                opacity: 0.9;
                a, a:link {
                    color:$white;
                }
            }
            
            .icon{
                margin: 10px 40px;
            }
        }
    }

}
/*    G I V E  B A C K   B A N N E R
/*--------------------------------------*/

.home {
    header.top .nav-search {
    bottom: 0px;
    }

    .container.give-back {
        overflow: hidden;
        display: block;
        clear: both;
        width: 100%;
        text-align: center;
        background: $btn-color;
        
        .heart-logo {
            clear: both;
            display: block;
            margin: 40px auto 15px auto;
        }

        .btn.give {
            position: relative;
            margin: 40px auto 0px;
            text-align: center;
            width: 100%;
            background: transparent;
            font-size: 44px;
            padding: 0px;
            color: $white;

        }
        span {
            font-size: 27px;
            display: block;
            margin-bottom: 65px;
            color: $white;
        }
    }
        
    footer {
        margin: 0px;
    }
}